<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Home Page";
}
<div class="bg-header-footer container-fluid text-center pt-5 pb-5">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/UNICAES_Logo.png/800px-UNICAES_Logo.png" alt="Logo UNICAES" class="logo-unicaes" />
    <h2 class="text-white">Comentarior por Libros</h2>
    <p class="text-secondary">
        Seleccione el autor -> Seleccione el Libro -> Se muestran los comentarios existentes
        -> Adicione un nuevo comentario
    </p>
</div>

<div class="container">
    <ul class="progressbar">
        <li class="active">Autores</li>
        <li>Libros</li>
        <li>Comentarios existentes</li>
        <li>Nuevo comentario</li>
    </ul>
</div>

