<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <ul class="progressbar">
        <li class="active">Autores</li>
        <li>Libros</li>
        <li>Comentarios existentes</li>
        <li>Nuevo comentario</li>
    </ul>
</div>

