<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Home Page";
}

<div class="container mb-5">
    <ul class="progressbar">
        <li class="active" data-view="ListadoAutores">Autores</li>
        <li data-view="ListadoLibroAutor">Libros</li>
        <li data-view="ComentariosExistentes">Comentarios existentes</li>
        <li data-view="Confirmacion">Nuevo comentario</li>
    </ul>
</div>

<div id="contenido-parcial" class="contenido-dinamico">
    <!-- Aquí se cargará la vista -->
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".progressbar li").click(function () {
            var viewName = $(this).data("view");

            // Remueve la clase "active" y agrégala solo al seleccionado
            $(".progressbar li").removeClass("active");
            $(this).addClass("active");

            // Cargar la vista parcial mediante AJAX
            $.ajax({
                url: "/Home/" + viewName,
                type: "GET",
                success: function (data) {
                    $("#contenido-parcial").html(data); // Actualiza el div con la nueva vista
                },
                error: function () {
                    $("#contenido-parcial").html("<p>Error al cargar la vista.</p>");
                }
            });
        });

        // Cargar la vista inicial (Autores) al cargar la página
        $.ajax({
            url: "/Home/ListadoAutores",
            type: "GET",
            success: function (data) {
                $("#contenido-parcial").html(data);
            }
        });
    });
</script>


