<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Home Page";
}
<div class="bg-header-footer container-fluid text-center pt-5 pb-5">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/UNICAES_Logo.png/800px-UNICAES_Logo.png" alt="Logo UNICAES" class="logo-unicaes" />
    <h2 class="text-white">Comentarios por Libros</h2>
    <p class="text-secondary">
        Seleccione el autor -> Seleccione el Libro -> Se muestran los comentarios existentes
        -> Adicione un nuevo comentario
    </p>
</div>

<div class="container mb-5">
    <div id="contenedor-principal">
        <ul class="progressbar">
            <li class="active" data-view="ListadoAutores">Autores</li>
            <li data-view="ListadoLibroAutor">Libros</li>
            <li data-view="ComentariosExistentes">Comentarios existentes</li>
            <li data-view="Confirmacion">Nuevo comentario</li>
        </ul>

        <div id="contenido-parcial" class="contenido-dinamico">
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $(".progressbar li").click(function () {
            var viewName = $(this).data("view");

            //Remueve la clase "active" y agrégala solo al seleccionado
            $(".progressbar li").removeClass("active");
            $(this).addClass("active");

            //Cargar la vista parcial mediante AJAX
            $.get("/Home/" + viewName, function (data) {
                $("#contenido-parcial").html(data); //Actualiza el div con la nueva vista
            });
        });

        //Cargar la vista inicial (Autores) al cargar la página
        $.get("/Home/ListadoAutores", function (data) {
            $("#contenido-parcial").html(data);
        });
    });
</script>