
@model List<L02P02_2022MM651_2022SS651.Models.autores>

<div class="border p-3 container mt-3">
    <h4>Autores</h4>

    <div class="list-group">
        @foreach (var autor in Model)
        {
            <div class="d-flex justify-content-between align-items-center border p-3">
                <span>@autor.autor</span>
                <button class="btn btn-success btn-sm seleccionar-autor" data-autor-id="@autor.id">Seleccionar</button>
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".seleccionar-autor").click(function () {
            var autorId = $(this).data("autor-id");
            $(".progressbar li").removeClass("active");
            $(".progressbar li[data-view='ListadoLibroAutor']").addClass("active");

            $.ajax({
                url: "/Home/ListadoLibroAutor",
                type: "GET",
                data: { idAutor: autorId },
                success: function (data) {
                    $("#contenido-parcial").html(data);
                },
                error: function () {
                    $("#contenido-parcial").html("<p>Error al cargar los libros.</p>");
                }
            });
        });
    });
</script>


